<div class="movie-list" (scroll)="handleScroll($event)">
    <div *ngIf="loading" class="loading">
        <i class="fas fa-compact-disc"></i>
    </div>
    <div *ngIf="movieList.length === 0 && !loading" class="notice">
        <div>We couldn't find anything related to your search criteria.</div>
    </div>
    <div *ngFor="let movie of movieList" class="movie-entry">
        <div class="movie-poster">
            <div *ngIf="movie.release_date" class="movie-release-date">{{movie.release_date}}</div>
            <a routerLink="/movie/{{movie.id}}">
                <img src="{{movie.posterFullPath}}" alt="{{movie.original_title}}">
            </a>
        </div>
        <div class="movie-title">
            <div class="title-local">
                <a routerLink="/movie/{{movie.id}}">
                    {{movie.title}}
                </a> 
            </div>
            <div *ngIf="movie.title !== movie.original_title" class="title-orig">
                <a routerLink="/movie/{{movie.id}}">
                    {{movie.original_title}}
                </a>
            </div>
        </div>
    </div>
</div>