/* Search bar */
.search-container{
    height: 100%;
    flex-direction: row;
}

    .search-container .input-group{
        width:50%;
        min-width: 150px;
    }


    .search-container .search-input i{
        margin-right: 1em;
        margin-top: .5em
    }
    

.search-btns{
    background-color: transparent;
    color: #90cea1;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.search-btns:hover{
    color: white;
}

/* Filter form */
.filter-form{
    width: 100%;
    background-color: #0d253f;
    opacity: 0.9;
    position: fixed;
    top: 5em;
    z-index: 100;
    padding: 0 1em 0 1em;
    display: none;
    -webkit-box-shadow: 0px 0px 6px 14px rgba(13,37,63); 
    box-shadow: 0px 0px 6px 14px rgba(13,37,63);
    transition: transform 0.5s ease-in-out;
    color: white;
}

.filter-form.visible{
    display: block;
}

@media (min-width: 768px) {
    .filter-form{
        width:50%;
        margin-left: 25%;
    }
}

.filter-section{
    padding: 1em;
    border-bottom: 1px solid #90cea1;
    
}
    .filter-section .input-group{
        padding-top: 1em;
    }

.filter-section p{
    padding-bottom: 0.5em;
    font-size: large;
}

.filter-section .radio-sorting{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1em;
}

.filter-section .radio-sorting span{
    padding-left: 1em;
}


.filter-form-buttons{
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

.filter-form-buttons button{
    border-radius: 1em;
    border: none;
    padding: 0.5em;
    font-size: larger;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, rgba(1,180,228,1) 0%, rgba(144,206,161,1) 100%);
}

.small-button{
    border-radius: 1em;
    padding: .25em .5em .25em .5em;
    background: linear-gradient(90deg, rgba(1,180,228,1) 0%, rgba(144,206,161,1) 100%);
    font-size: small;
    font-weight: bold;
    margin: .25em;
    word-wrap: normal;
    width: fit-content;
}

.small-button button:hover{
    color:white;
}

.filter-form-buttons button i{
    padding-right: 0.5em;
}

.filter-form-buttons button:hover{
    color: black;
}

.genre-basket{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-count{
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 50%;
    border:none;
    height: 15px;
    width: 15px;
    transform: translate(-5px, -10px);
}